<!--include header-->
<%-include('include/_header')%>
  <!--/include header-->

  <!--Main Site-->
  <main id="site-main">
    <div class="container">
      <div class="box-nav d-flex-justify-between">
        <a href="/payment-user" class="border-shadow">
          <span class="text-gradient">Pay now<i class="fa-solid fa-user"></i></span>
        </a>
      </div>
      <form action="/api/challans" method="POST" id="pay_table">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>S.no</th>
              <th>User_Id</th>
              <th>User_Id_no.</th>
              <th>Challan_For</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <%-include('include/_showpay')%>
          </tbody>
        </table>
      </form>
    </div>
  </main>
  <!--/Main Site-->

  <!--include footer-->
  <%-include('include/_footer')%>
    <!--/include footer-->