.reg-form {
    background: transparent;
    box-sizing: border-box;
    box-shadow: 1px 2px 6px snow;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 15px auto;
    background-color: lightskyblue;
    height:70%;
    padding: 15px;
    width: 400px;
  }
  body{
    background-image: url('../images/pimg.jpg');
    background-repeat: no-repeat;
    height: 600px;
    background-position: left;
    background-size: cover;
}
   
  .form-heading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 5px;
  }
   
  .helper-text {
    font-size: 12px;
    margin-botom: 10px;
    box-sizing: borde-box;
    text-align: right;
  }
  .Textbox{width: 200px; height:40px}
  .Amountbox{width:200px; height:40px}

  .field-row {
    position: relative;
    width: 100%;
  }
   
  .form-label {
    display: inline-block;
    font-size: 16px;
    margin: 0 5px 5px 0;
    text-align: right;
    width: 100px;
  }
   
  .field {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    width: 240px;
  }
  .field.field-short {
    width: 70px;
  }
  .message {
    display: inline-block;
  }
   
  :required + .message::before {
    content: "* ";
  }
  .text-field:focus:required:valid {
    outline: green solid 2px;
  }
  .text-field:focus:required:invalid {
    outline: orange solid 2px;
  }
  .date-field:focus:in-range {
    outline: green solid 2px;
  }
  .date-field:focus:out-of-range {
    outline: orange solid 2px;
  }
   
  .website-field:focus:valid {
    outline: green solid 2px;
  }
  .website-field:focus:invalid {
    outline: orange solid 2px;
  }
  .form-button {
    background-color: black;
    border: none;
    border-radius: 0;
    color:white;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
  }
  .first-name-field:focus:invalid + .message::after {
    color: orange;
    content: "Required your first name";
  }
   
  .last-name-field:focus:invalid + .message::after {
    color: orange;
    content: "Required your last name";
  }
   
  .dob-field:focus:out-of-range + .message::after {
    color: orange;
    content: "Date is out of range";
  }
   
  .tel-field:focus:invalid + .message::after {
    color: orange;
    content: "Required vehicle number";
  }
   
  .email-field:focus:invalid + .message::after {
    color: orange;
    content: "Required email address";
  }
  .payment-field:focus:invalid + .message::after {
    color: orange;
  }
  .address-field:focus:invalid + .message::after {
    color: orange;
    content: "Required permanent address";
  }
   
  .website-field:focus:invalid + .message::after {
    color: orange;
    content: "Required valid URL";
  }